/* Container utama */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subline1{
  margin-top: -5px;
  font-size: 36px;
}

/* Navbar dengan padding */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Padding lebih besar untuk navigasi */
  background-color: #f8f9fa;
}

/* Menu dalam navbar */
.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: lowercase;
}

/* Ukuran logo diperbesar */
.logo img {
  width: 120px; /* Lebar logo lebih besar */
  height: auto;
}

/* Content styling */
.content {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1; /* Mengisi sisa ruang di container */
  overflow-y: auto;
}

.content h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
}

.content span {
  color: #ff69b4;
}

/* Tombol bantuan */
.help-button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 80px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.help-button:hover {
  background-color: #ff8080;
}
