.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./images/Home.svg);
}

.about{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subline1{
  margin-top: -5px;
  font-size: 36px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; 
  background-color: #f8f9fa;
  background-image: url(./images/Home.svg);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: lowercase;
}

/* Ukuran logo diperbesar */
.logo img {
  width: 120px; /* Lebar logo lebih besar */
  height: auto;
}


.content {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1; 
  overflow-y: auto;
}

.content h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
}

.content span {
  color: #ff69b4;
}

.help-button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 80px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.help-button:hover {
  background-color: #ff8080;
}


/* Section about */
section {
  background-color: #E74C3C;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  padding: 40px;
  text-align: left;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px; 
}

.image-text-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 150px; 
  margin-bottom: 40px; 
}

.image-container img {
  max-width: 300px; 
  height: auto;
  border-radius: 8px; 
}

.description {
  max-width: 400px; 
  font-size: 18px;
  line-height: 1.6;
}

.description p {
  margin: 10px 0;
}

.description .highlight {
  color: #F7DC6F;
  font-weight: bold;
  font-size: 20px;
}

.description .highlight span {
  text-decoration: underline;
}

.read-more img {
  margin-top: 20px;
  width: 210px; 
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.read-more img:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px; 
  margin-top: 30px;
}

.stat-box {
  background-color: #F7DC6F;
  border-radius: 50%;
  padding: 30px; 
  margin: 10px; 
  min-width: 170px; 
  text-align: center;
}

.stat-box h2 {
  color: #4285F4;
  margin: 0 0 10px 0; 
  font-size: 24px;
}

.stat-box p {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.about{
  background-color: #ff5a5f;
}
